<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      
        
          <img class="logo-image" src="/images/logo.svg" alt="Jean-Paul Software">
        
      
      <% if (theme.subtitle || config.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
        <a href="https://store.steampowered.com/app/1631280/The_JeanPaul_Software_Screen_Explosion/" class="main-nav-link">The Jean-Paul Software Screen Explosion!</a>
      </nav>
      
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;', text: __('search')}) %>
      </div>
    </div>
  </div>
</header>
